body {
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#icon img {
    width: 50px;
    height: 50px;
}

.custom-navbar {
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0; 
    transition: background-color 0.5s ease;
}

.custom-navbar.navbar-scroll {
    background-color: black;
}

#login {
    margin-right: 2vh;
}

.navbar-toggler-icon {
    background-color: rgb(183, 183, 183);
}

.white-text {
    color: white !important;
}

.white-text:hover {
    text-decoration: underline;
}

.nav-item{
    margin-top: 10px;
}

@media (min-width: 420px) and (max-width: 599px) {
    .custom-offcanvas {
        width: 60% !important; 
    }
}

@media (max-width: 419px) {
    .custom-offcanvas {
        width: 75% !important; 
    }
}




.container {
    text-align: center;
    max-width: 95%;
    margin: auto;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: white;
}

h1 {
    color: gold;
    font-weight: bold;
    font-size: 35px;
    margin-top: 80px;
}

h2 {
    color: gold;
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 2px solid gold;
    display: inline-block;
    padding-bottom: 5px;
}

p, ul {
    color: #ccc;
    line-height: 1.6;
    text-align: left;
    margin: 10px 0;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

.big-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    border: 2px solid gold;
    margin-top: 20px;
    overflow: auto;
}

.contributor {
    margin: 5px 0;
}

.contributor a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

.contributor a:hover {
    text-decoration: underline;
}

h2, h3 {
    text-align: center;
}


