body {
    font-family: 'Arial', sans-serif;
    background-image: url('img/bg.png');
    /* background-color: #212529; */
    background-size: cover; 
    /* background-repeat: no-repeat;  */
    background-position: center; 
}

#icon img {
    width: 50px;
    height: 50px;
}

.custom-navbar {
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0; 
    transition: background-color 0.5s ease;
}

.custom-navbar.navbar-scroll {
    background-color: black;
}

#login {
    margin-right: 2vh;
}

.navbar-toggler-icon {
    background-color: rgb(183, 183, 183);
}

.white-text {
    color: white !important;
}

.white-text:hover {
    text-decoration: underline;
}

.nav-item{
    margin-top: 10px;
}

@media (min-width: 420px) and (max-width: 599px) {
    .custom-offcanvas {
        width: 60% !important; 
    }
}

@media (max-width: 419px) {
    .custom-offcanvas {
        width: 75% !important; 
    }
}




/* Gitabot */

body .chatbot-section {
    margin-top: 90px; 
}

body .chatbot-section #searches {
    color: white;
}

#new-chat {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid gold;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-chat:hover {
    background-color: #101010;
}

body .chatbot-section #result {
    padding: 15px;
    background-color: #101010;
    color: white;
    overflow-y: auto;
    height: 75vh;
    border: 1px solid gold;
    border-radius: 10px;
}

/* Scrollbar styles */
.result-scroll::-webkit-scrollbar {
    width: 5px;
}

.result-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
}

.formated-response-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    /* background-color: #101010; */
    color: white;
}

.formated-response-container p {
    margin: 0 0 10px;
    line-height: 1.5;
}

#user-query {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#queryInput {
    /* border-color: rgb(183, 183, 183); */
    border: 1px solid gold;
    color: white;
    background-color: #101010;
    flex: 1;
}

#queryInput::placeholder {
    color: rgb(183, 183, 183);
}

#user_area {
    border-radius: 5px;
    padding: 10px;
    color: white;
}

#chatbot_area {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.spinner-border {
    width: 20px;
    height: 20px;
}

#submitButton {
    background-color: gold;
    color: black; 
    cursor: pointer; 
}

#submitButton:hover {
    background-color: rgb(254, 181, 46);
}
