body {
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* #icon img {
    width: 50px;
    height: 50px;
}

.custom-navbar {
    background-color: black;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0; 
    transition: background-color 0.5s ease;
}

.custom-navbar.navbar-scroll {
    background-color: black;
}

#login {
    margin-right: 2vh;
}

.navbar-toggler-icon {
    background-color: rgb(183, 183, 183);
}

.white-text {
    color: white !important;
}

.white-text:hover {
    text-decoration: underline;
}

.nav-item{
    margin-top: 10px;
}

@media (min-width: 420px) and (max-width: 599px) {
    .custom-offcanvas {
        width: 60% !important; 
    }
}

@media (max-width: 419px) {
    .custom-offcanvas {
        width: 75% !important; 
    }
} */




.container {
    text-align: center;
    max-width: 95%;
    margin: auto;
    padding: 20px;
    position: relative;
}

h1 {
    color: gold;
    font-weight: bold;
    font-size: 35px;
    margin-top: 60px; 
}

h3 {
    color: gold;
    font-size: 28px;
    margin-bottom: 0;
}

.big-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
    gap: 20px;
    padding: 10px;  
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    border: 2px solid gold;
    /* max-height: 450px;  */
    overflow: auto; 
}

.left-container, .right-container {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.left-container .bot-image {
    width: 100%;
    max-width: 330px;  
    border-radius: 10px;
    margin: 10px 0;
}

.right-container p {
    font-size: 15px;  
    line-height: 1.5;
    margin-right: 20px;
}

button {
    background-color: gold;
    color: black;
    padding: 8px 16px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(254, 181, 46);
}

@media (max-width: 840px) {
    .big-container {
        flex-direction: column;
        align-items: center; 
    }

    .left-container, .right-container {
        width: 100%; 
        text-align: center; 
    }

    .right-container p {
        margin: 20px 0 0 0; 
    }
}


